body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: @base-font;
  font-family: 'Helvetica';
}

.main {
  flex: 1;
  margin-top: 90px;
}

a,
a:hover,
a:active {
	text-decoration: none;
	transition: all .3s;
}

/*==== slider ====*/


.slider {

	&-wrap {
		width: 96%;
		margin: auto;
	}

	&__item {
		height: calc(~"100vh - 90px");
		overflow: hidden;
		background: #000;
		position: relative;

			img {
				width: 10%;
				height: auto;
			}
	}

	&__txt {
		position: absolute;
		bottom: 20%;
		left: 12%;		
		color: @c-white;
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: 15px;		
	}

	&__links {
		position: absolute;
		bottom: 40px;
		left: 20%;
		right: 20%;
		z-index: 5;
		background: rgba(255,255,255,.8);
		padding: 5px 10px;
		.flex-sb();	
	}

	&__contacts{
		&-link {
			font-weight: bold;
			color: @c-green;
			margin-right: 20px;

			&:hover {
				color: @c-gray;
			}
		}
	}

	.owl-dots {
	position: absolute;
	top: 50%;
	right: 15%;
	.flex-col();
}

.owl-dot.active span {
	background: @c-green !important;
}

.owl-dot span {
	background: @c-white !important;	
}

}

.social {
	span {
		color: @c-green;
	}

	&__link {
		color: @c-gray;
		border: 1px solid @c-gray;
		margin: 0 5px;
		border-radius: 3px;

		&:hover {
			color: @c-green;
			border: 1px solid @c-green;
		}
	}
}


/*==== our plus ====*/

.content {
	background: url('../img/rings.png')  no-repeat;
	background-size: 100%;
}

.plus {
	padding: 90px 0;

	&__title {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin-bottom: 80px;
	}
}

.list {
	.flex();
	align-items: flex-start;	
	padding: 0 20px;			

	&__item {
		width: 33%;
		.flex-at();
		justify-content: space-between;	
		margin-bottom: 80px;	
	}

	&__title {
		color: @c-green;
		font-weight: bold;
		margin-bottom: 30px;		
	}

	&__about {
		width: 70%;
		padding-right: 10%;	
	}
}


/*==== why we ====*/

.slider-plus {
	position: relative;	
	padding-bottom: 50px;	
	&__item {
		.flex-at();
		justify-content: space-between;	
		position: relative;	
	}

	&__link {
		position: absolute;	
		bottom: 50px;	
		right: 50px;	
	}	

	&__img {
		height: 640px;	
		width: 35%;	
		overflow: hidden;	
		text-align: center;	
		img {
			width: auto;	
			height: 100%;	
		}
	}

	&__we {
		width: 30%;
		align-self: center;	
		padding: 30px 25px 100px 30px;
		line-height: 	1.5em;
		color: @c-white;
		background: @c-green;

		.h4 {
			font-weight: bold;	
			text-transform: uppercase;	
		}		

		.p {
			width: 80%;	
		}	

	}
	.owl-nav {
		position: absolute;	
		bottom: 25%;
		left: 0;		
	}

	.owl-prev {
		background: @c-green !important	;
		color: @c-green !important	;
		padding: 20px 40px !important;	
		text-align: center;
		&:after {
			content: '< Назад';
			display: inline-block;	
			opacity: 1;		
			color: @c-white;
			margin-left: -20px;	
		}
	}

	.owl-next {
		position: relative;	
		right: -30%;	
		// margin-right: -50%!important;	
		background: @c-white !important	;
		color: @c-white !important;
		padding: 20px 40px !important;	
		text-align: center;	
		&:after {
			content: 'Дальше >';
			opacity: 1;
			color: @c-black;
			margin-left: -20px;	
		}
	}

	&__txt {
		padding-left: 60px;	
		width: 35%;	

		.h3 {
			font-weight: bold;	
		}
	}
}

/*==== our products ====*/

.headers {
	border-bottom: 3px solid @c-green;
	padding: 0;	

	span {
		text-transform: uppercase;
		color: @c-green;
	}

	.h1 {
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 10px;
	}

	&__inner {
		display: inline-block;	
		background: @c-white;
		padding-right: 40px;	
		position: relative;	
		bottom: -10px;	
	}
}

.products {
	width: 96%;
	margin: 0 auto;
}

.catalog {
	margin: 90px 0;

	&__list {
		.flex-sb();
		align-items: stretch;
	}

	&__item {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		text-align: center;
		box-sizing: border-box;
		color: @c-white;
		text-transform: uppercase;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	&__left {
		width: 30%;
		height: 700px;
		.catalog__item {
			height: 100%;
			padding: 10px 10px 30px;
		}	
	}

	&__right {
		width: 69%;
		.flex-sb();
		 align-content: space-between;
		.catalog__item {
			width: 32%;
			height: 340px;
			padding: 10px;
			
		}
	}


	.owl-dot  {
		display: inline-block;
		vertical-align: middle;
		background: @c-gray;	
		border-radius: 0;
		height: 2px;
		width: 15%;

		span {
			display: none !important;
		}
	}
	.owl-dot.active  {
		height: 4px;
		background: @c-green;
		// width: 10%;
	}

}


/*==== services ====*/

.services {
	&__title {
		text-align: center;
	}

	padding: 0 0 70px;
}

.service {
	&__media {
		text-align: center;

		img {
			width: 100%;
			margin-bottom: 15px;
		}

		.btn_bordered {
			padding: 10px 35px ;
		}
	}

	&__txt {
		span {
			font-weight: bold;
		}
	}
}



/*==== info ====*/
.news {
	margin-top: 90px;

	.owl-nav {
		position: absolute;	
		bottom: 30%;
		left: 50%;		
	}

	.owl-prev {
		display: none !important;
	}

	.owl-next {
		position: relative;	
		right: -30%;	
		// margin-right: -50%!important;	
		background: @c-dgray !important	;
		color: @c-dgray !important;
		padding: 20px 40px !important;	
		text-align: center;	
		&:after {
			content: 'Следующая >';
			opacity: 1;
			color: @c-white;
			margin-left: -20px;	
		}
	}
}
.new {

	position: relative;
	
	&__img {
		width: 60%;
	}

	&__txt {
		color: @c-white;
		background: @c-green;
		padding: 55px;
		width: 50%;
		position: absolute;
		bottom: 35%;
		right: 0;
		.h4 {
			margin-top: 0;
			font-weight: bold;
			text-transform: uppercase;
		}

		.p {
			margin-bottom: 60px;
		}
	}

	&__link {
		color:@c-white;
		text-decoration: underline;
		position: relative;
		left: 80%;
	}

}

.sale {
	text-align: right;
	position: relative;
	top: -40px;
	&__img {
		width: 30%;
		display: inline-block;

		img {
			width: 100%;
		}
	}

	&__txt {
		padding: 15px;
		border: 2px solid @c-green;
		width: 50%;
		margin: 0;
		position: absolute;
		right: 15%;
		bottom: 10%;
		background: @c-white;
	}
}

/*====  repairs ====*/

.repairs {
	padding-bottom: 80px;
	&__img {
		padding-right: 40px;
		border-right: 3px solid @c-green;

		img {
			width: 100%;
		}
	}

	&__txt {
		span {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__item {
		margin-bottom: 50px;
	}

	&__list {
		list-style: none;
		margin: 50px 0;

		li:before {
			content: '-';
			display: inline-block;
			margin-right: 10px;
		}
	}	
}


/*====  review ====*/
.reviews {
	&__list {
		margin: 40px 0;
		.owl-dot  {
			display: inline-block;
			vertical-align: middle;
			background: @c-gray;	
			border-radius: 0;
			height: 2px;
			width: 15%;

			span {
				display: none !important;
			}
		}
		.owl-dot.active  {
			height: 4px;
			background: @c-green;
			// width: 10%;
		}
	}
}

.review {
	&__txt {
		padding: 40px 15px 90px;
		border: 2px solid @c-green;
		max-width: 500px;
		text-align: right;
		box-shadow: 5px 5px 0 @c-gray;
		margin-bottom: 40px;
		min-height: 250px;
		box-sizing: border-box;
		position: relative;
		background: @c-white;
		.p {
			margin-bottom: 50px;
			text-align: left;
			line-height: 1.5em;
		}

		.icon {
			position: absolute;
			bottom: 60px;
			right: 30px;
		}

	}

	&__img {
		width: 115px;
		height: 115px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 40px;
		text-align: center;
		position: relative;

		img {
			height: 100%;
			width: auto;
			position: relative;
			z-index: 1;
		}
		
		&:after {
			content: '';
			display: inline-block;
			width: 80%;
			height: 80%;
			border: 3px solid @c-green;
			position: absolute;
			bottom: -10px;
			right: -10px;
		}

	}

	&__author {
		display: inline-block;
		vertical-align: middle;
	}

	&__info {
		margin-bottom: 60px;
	}

	&__name {
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 10px;
	}
}


/*====  contact ====*/
.contacts {
	background: @c-green;
	color: @c-white;
	padding-top: 90px;
	padding-bottom: 90px;
	transform: translateY(50px);

	&__left {
		padding-left: 90px;
		position: relative;
		&:after {
			content: '';
			display: inline-block;
			height: 3px;
			width: 20%;
			background: @c-white;
			position: absolute;
			bottom: 0;
			left: 90px;
		}

		.h2 {
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 20px;
		}

		a {
			display: inline-block;
			color: @c-white;
			margin-top: 20px;
		}
	}

	&__right {
		.h3 {
			color: @c-white;
			margin-top: 0;
			margin-bottom: 30px;
			display: inline-block;
		}
	}
}

.map {
	height: 500px;
	iframe {
		height: 100%;
		width: 100%;
	}
}