@media all and (max-width: 1400px) {
	.logo {
		width: 170px;
	}

	.menu__link {
		margin: 0 10px;
	}
}

@media all and (max-width: 1200px) {
	.menu {
		margin: 0 10px;
		&__link {
			font-size: .7rem;
		}
	}

	.slider-plus {
		&__item {
			flex-wrap: wrap;
		}

		&__we {
			width: 100%;
			padding-bottom: 30px;

			.p {
				width: 100%;
			}
		}

		&__img {
			width: 45%;
		}

		&__txt {
			width: 50%;
			padding-left: 15px;
		}

		.owl-nav {
			bottom: 5%;
		}

	}
			.new__txt {
				bottom: 20% !important;
			}
		.news {

			.owl-next {
				bottom: -90px;
			}
		}

	.catalog__right .catalog__item {
	    width: 49%;
	    height: 225px;
	}

	.jobs__item {
		width: 100px;
		height: 100px;
	}
}

@media all and (max-width: 992px) {
	.menu {
		flex-direction: column;
		top: 1000%;
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		pointer-events: none;
	}

	.hamburger {
		display: block;
	}

	.header {
		justify-content: space-between;


		.tel {
			margin-left: auto;
			margin-right: 15px;
		}
	}

	.logo {
		width: 320px;
	}
	.list__item {
		width: 50%;
	}
	.plus {
		padding-bottom: 30px;
	}
	.service {
		margin-bottom: 20px;
	}

	.new__img {
		width: 100%;
	}
	.news {
		.owl-next {
			bottom: -100px;
		}
	}

	.sale {
		top: 10px;
	}
	.jobs__item {
		width: 59px;
		height: 59px;
	}
}

@media all and (max-width: 768px) {
	.list__item {
		width: 100%;
	}

	.slider-plus {
		&__img {
			display: none;
		}
		&__txt {
			width: 100%;
		}

		&__item {
			padding-bottom: 160px;
		}
		&__link {
			bottom: 80px;
		}
	}

	.catalog__left {
	    width: 100%;
	    height: 300px;
	    margin-bottom: 10px;
	}
	.catalog__right {
		width: 100%;

		.catalog__item {
			margin: 1%;
			width: 47%;
		}
	}

	.new__txt {
	    width: 100%;
	    position: static;
	    box-sizing: border-box;
	}
	
	.news .owl-nav {
		bottom: 0;
		left: 0;
	}

	.news {
		.owl-next {
			bottom: 0;
		}
	}

	.repairs__img {
		height: 300px;
		text-align: center;
		margin-bottom: 30px;

		img {
			max-height: 100%;
			max-width: 100%;
			width: auto;
		}
	}

	.contacts__left {
		padding-left: 10px;	
		padding-bottom: 50px;	
	}
	.contacts {
		padding: 15px;	
	}
	.service {
		margin-bottom: 60px;	

		&__media {
			margin-bottom: 20px;	
		}
	}
		.slider__links {
		left: 5%;	
		right: 5%;	
	}
	.headers_extend {
		flex-wrap: wrap;
	}
	.headers__inner {
		width: 100%;
		margin-bottom: 20px;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.jobs {
		width: 100%;
	}
	.category__img {
		height: 270px;
		text-align: center;
		margin-bottom: 20px;
		img {
			width: auto;
			height: 100%;
		}
	}
	.product-more {
		max-width: 50%;
		text-align: center;
	}
}

@media all and (max-width: 600px) {
	.logo {
		width: 150px;
	}


	.catalog__right {

		.catalog__item {
			margin: 0;
			margin-bottom: 10px;
			width: 100%;
			height: 300px;
		}
	}

	.sale__txt {
		width: 75%;
	}
	.sale__img {
		width: 50%;	
	}
	.slider__txt {
		left: 4%;
	}

	.h1 {
		font-size: 2.7rem;
	}
	.h2 {
		font-size: 2.5rem;
	}
	.slider .owl-dots {
		right: 2%;
	}
	.h4 {
		font-size: 1.3rem;
	}
}

@media all and (max-width: 460px) {

	.tel:before {
		display: none;
	}
	
	.logo {
		width: 100px;
	}
	.list {
		padding: 0;

		&__about {
			padding-right: 0;
		}
	}

	.slider-plus {
		.owl-next {
			right: 0;
			padding: 10px 20px !important;
		}
		.owl-prev {
			padding: 10px 20px !important;
		}
	}

	.new__txt {
		padding: 20px 10px 55px;
	}
	.new__link {
		left: 60%;
	}
	.news .owl-next {
		right: 0;
		padding: 10px 40px !important;
	}

	.sale__txt {
		width: 100%;
		position: static;
		box-sizing: border-box;
	}
	.sale__img {
		width: 100%;	
	}

	.slider__links {
		left: 5%;	
		right: 5%;
		bottom: 10px;	
	}
	.slider__contacts-link {
		display: inline-block;
		width: 100%;
	}
	.jobs__item {
		width: 45px;
	}
}