.btn {
	display: inline-block;	
	text-transform: uppercase;	
	padding: 10px 45px;
	background: @c-white;
	color: @c-green;
	transition: all .3s;

	&:hover {
		background: @c-green;
		color: @c-white;
	}	
}