header.header

	a.logo(href="index.html")
		img(src="img/logo.png")

	nav.menu
		each val in ['главная', 'о компании', 'услуги', "новости", "о ремонте", "отзывы", "вакансии", "контакты"]
			a.menu__link.p(href="")= val

	a.tel.icon.icon-phone.p(href="tel:336734089") (33) 673 40 89 (мтс)
