extends layout/main

block title
	|Акрил - Oikos

block content	


	.content.content_space
		.container
			header.headers.headers_extend
				.headers__inner
					span oikos
					h2.h1 Наша <br>продукция
				.jobs
					p Последние работы
					.jobs__list
						a(href="img/Ultrasaten.png").jobs__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").jobs__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").jobs__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").jobs__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").jobs__item
							img(src="img/Ultrasaten.png", alt="")

			//- -------------------------------------- category ---------------------- //
			h2.h4.category__name Акриловые краски <span>OIKOS</span>
			.row.category
				.col-xs-4
					.category__img
						img(src="img/Supercolor.png", alt="")
				.col-xs-8.category__txt
					.category__title Акриловая краска <span>«Ультрасатен»</span>
					p.p Supercolor(Суперколор) — это хорошо моющая водно-дисперсионная акриловая краска с санирующим эффектом для отделки интерьеров и экстерьеров. Краска «Supercolor» не содержит растворителей, паропроницаемая, водоотталкивающая и разбавляется питьевой водой. Технологические возможности итальянской компании позволили усовершенствовать состав, придав продукту повышенную степень белизны. Благодаря чему вы получаете приятную на ощупь отделку с гладким, чистым оттенком и матовым эффектом. Водно-дисперсионная акриловая краска «Supercolor», является идеальным дешевым покрытием для внутренних и вн
					a(href="").btn_bordered Перейти
			.row.category
				.col-xs-4
					.category__img
						img(src="img/Ultrasaten.png", alt="")
				.col-xs-8.category__txt
					.category__title Акриловая краска <span>«Ультрасатен»</span>
					p.p Supercolor(Суперколор) — это хорошо моющая водно-дисперсионная акриловая краска с санирующим эффектом для отделки интерьеров и экстерьеров. Краска «Supercolor» не содержит растворителей, паропроницаемая, водоотталкивающая и разбавляется питьевой водой. Технологические возможности итальянской компании позволили усовершенствовать состав, придав продукту повышенную степень белизны. Благодаря чему вы получаете приятную на ощупь отделку с гладким, чистым оттенком и матовым эффектом. Водно-дисперсионная акриловая краска «Supercolor», является идеальным дешевым покрытием для внутренних и вн
					a(href="").btn_bordered Перейти
			.row.category
				.col-xs-4
					.category__img
						img(src="img/Multifund.png", alt="")
				.col-xs-8.category__txt
					.category__title Акриловая краска <span>«Ультрасатен»</span>
					p.p Supercolor(Суперколор) — это хорошо моющая водно-дисперсионная акриловая краска с санирующим эффектом для отделки интерьеров и экстерьеров. Краска «Supercolor» не содержит растворителей, паропроницаемая, водоотталкивающая и разбавляется питьевой водой. Технологические возможности итальянской компании позволили усовершенствовать состав, придав продукту повышенную степень белизны. Благодаря чему вы получаете приятную на ощупь отделку с гладким, чистым оттенком и матовым эффектом. Водно-дисперсионная акриловая краска «Supercolor», является идеальным дешевым покрытием для внутренних и вн
					a(href="").btn_bordered Перейти

