extends layout/main

block title
	|Услуги дизайнера

block content	


	.content.content_space
		.container
			header.headers.headers_space
				.headers__inner
					h1.h3.product-name Услуги <span>Дизайнера<span/>

			h2.h4.designers-title Последние работы наших дизайнеров
			.designers-slider.owl-carousel.owl-theme
				a(href="img/design.png").designers-slider__item
					img(src="img/design.png", alt="")
				a(href="img/design.png").designers-slider__item
					img(src="img/design.png", alt="")
				a(href="img/design.png").designers-slider__item
					img(src="img/design.png", alt="")
				a(href="img/design.png").designers-slider__item
					img(src="img/design.png", alt="")
				a(href="img/design.png").designers-slider__item
					img(src="img/design.png", alt="")

			h2.h4.designers-title наши дизайнеры
			.row.designer
				.col-xs-12.col-sm-3.designer__img
					img(src="img/designer.png", alt="")
				.col-xs-12.col-sm-9.designer__text
					p.h5 Александр Кирилов
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt eaque assumenda vitae, eveniet laudantium omnis aut reprehenderit est natus, exercitationem nobis, id dolorum consequuntur eius! Repellendus fuga nihil minus!
					a(href="").btn_bordered заказать услуги
			.row.designer
				.col-xs-12.col-sm-3.designer__img
					img(src="img/designer.png", alt="")
				.col-xs-12.col-sm-9.designer__text
					p.h5 Александр Кирилов
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt eaque assumenda vitae, eveniet laudantium omnis aut reprehenderit est natus, exercitationem nobis, id dolorum consequuntur eius! Repellendus fuga nihil minus!
					a(href="").btn_bordered заказать услуги
