extends layout/main

block title
	|Декоративные элементы

block content	


	.content.content_space
		.container
			header.headers.headers_space
				.headers__inner
					h1.h3.product-name Декоративные элементы <span>"orac decor"<span/> 