extends layout/main

block title
	|Главная - Oikos

block content	
	//- -------------------------------------- slider ---------------------- //

	.slider-wrap
		.slider.owl-carousel.owl-theme
			.slider__item(style='background-image: url("img/slider.png")')
				.slider__txt
					h2.h2.slider__title ultrasaten
					p.p.slider__subtitle Податливый и экологически чистый материал, <br> является идеальным для отделки детских и лечебных заведений
					a.btn(href='') в раздел
			.slider__item(style='background-image: url("img/slider.png")')
		.slider__links
			.slider__contacts
				a.p.slider__contacts-link(href="mailto:dekorbrest@tut.by") Email: dekorbrest@tut.by
				a.p.slider__contacts-link(href="tel:+375336734089") Тел: +375 (33) 673-40-89
			.social 
				span.p Посетите нас:  
				a.icon.icon-vk.p.social__link(href="vk.ru")
				a.icon.icon-fb.p.social__link(href="vk.ru")
				a.icon.icon-odk.p.social__link(href="vk.ru")
	
	//- ------------------- our plus -------------------- //		

	.content
		.container
			.plus
				.plus__title.h3 Наши преимущества
				.list
					.list__item
						i.list__icon.icon.icon-roller
						.list__about
							.list__title.h5 Опытность
							.list__txt.p Мы провели более 3000 ремонтов квартир, домов, офисов и т.д
					.list__item
						i.list__icon.icon.icon-clock
						.list__about
							.list__title.h5 Проверка временем
							.list__txt.p Мы работаем с 2002 года
					.list__item
						i.list__icon.icon.icon-ok
						.list__about
							.list__title.h5 Гарантия качества
							.list__txt.p Срок гарантии наших работ более 10 лет
					.list__item
						i.list__icon.icon.icon-people
						.list__about
							.list__title.h5 Индивидуальный подход
							.list__txt.p к каждому клиенту
					.list__item
						i.list__icon.icon.icon-wall
						.list__about
							.list__title.h5 Любые задачи
							.list__txt.p Мы выполняем проекты любой сложности
					.list__item
						i.list__icon.icon.icon-palitra
						.list__about
							.list__title.h5 Огромный выбор
							.list__txt.p Более 5000 цветов и фактур. Или дизайнерский цвет.	


			//- ------------------- why we -------------------- //	

			#about-us.slider-plus.owl-carousel.owl-theme
				.slider-plus__item
					.slider-plus__we
						p.h4 почему <br> OIKOS
						p.p  покрытия OIKOS изготовлены на водной основе с применением природного сырья, что является гарантом их экологичности. Краски не горят и не имеют запаха, все поверхности паропроницаемы, т.е. дышат, имеют широкую цветовую гамму — более 2000 цветов по NCS, RAL, DCS и собственной коллекции.
					.slider-plus__img
						img(src='img/slide_min.png')
					.slider-plus__txt
						p.h3 Салон OIKOS - декоративные  штукатурки и краски.
						p.p Продукция OIKOS — это декоративная штукатурка и краски высокого качества, которые применяются для внутренней отделки помещений и наружных фасадов. Отсутствие в составе растворителей делает их экологически чистыми и совсем безвредными для человека и окружающей среды. Декоративные краски и штукатурки характеризуются высокой паропроницаемостью и водоотталкивающим эффектом, устойчивостью к воздействию солнца, ветра и мороза. Они также предотвращают образование 
					a.p.slider-plus__link.btn_bordered.btn_shadow(href='more.html') подробнее
				.slider-plus__item
					.slider-plus__we
						p.h4 почему <br> OIKOS
						p.p  покрытия OIKOS изготовлены на водной основе с применением природного сырья, что является гарантом их экологичности. Краски не горят и не имеют запаха, все поверхности паропроницаемы, т.е. дышат, имеют широкую цветовую гамму — более 2000 цветов по NCS, RAL, DCS и собственной коллекции.
					.slider-plus__img
						img(src='img/slide_min.png')
					.slider-plus__txt
						p.h3 Салон OIKOS - декоративные  штукатурки и краски.
						p.p Продукция OIKOS — это декоративная штукатурка и краски высокого качества, которые применяются для внутренней отделки помещений и наружных фасадов. Отсутствие в составе растворителей делает их экологически чистыми и совсем безвредными для человека и окружающей среды. Декоративные краски и штукатурки характеризуются высокой паропроницаемостью и водоотталкивающим эффектом, устойчивостью к воздействию солнца, ветра и мороза. Они также предотвращают образование 

		//- ------------------- our products -------------------- //

		.products
			header.headers.container
				.headers__inner
					span oikos
					h2.h1 Наша <br>продукция


			.catalog.owl-carousel.owl-theme
				.catalog__list
					.catalog__left
						a(href="category.html").catalog__item(style="background-image: url('img/plaster.png')")
							p.h4 Венецианские штукатурки
					.catalog__right
						a(href="category.html").catalog__item(style="background-image: url('img/decor.png')")
							p.h4 Декор в интерьере
						a(href="category.html").catalog__item(style="background-image: url('img/acril.png')")
							p.h4 Акриловае краски OIKOS
						a(href="category.html").catalog__item(style="background-image: url('img/decor_prem.png')")
							p.h4 Декоративные покрытия Oikos - премиум
						a(href="category.html").catalog__item(style="background-image: url('img/ecology.png')")
							p.h4 Экологически чистые  моющие средства
						a(href="category.html").catalog__item(style="background-image: url('img/decor_lak.png')")
							p.h4 Декоративные краски Oikos
						a(href="category.html").catalog__item(style="background-image: url('img/fasad.png')")
							p.h4 Фасадные покрытия Oikos
				.catalog__list
					.catalog__left
						.catalog__item(style="background-image: url('img/plaster.png')")
							p.h4 Венецианские штукатурки
					.catalog__right
						.catalog__item(style="background-image: url('img/decor.png')")
							p.h4 Декор в интерьере
						.catalog__item(style="background-image: url('img/acril.png')")
							p.h4 Акриловае краски OIKOS
						.catalog__item(style="background-image: url('img/decor_prem.png')")
							p.h4 Декоративные покрытия Oikos - премиум
						.catalog__item(style="background-image: url('img/ecology.png')")
							p.h4 Экологически чистые  моющие средства
						.catalog__item(style="background-image: url('img/decor_lak.png')")
							p.h4 Декоративные краски Oikos
						.catalog__item(style="background-image: url('img/fasad.png')")
							p.h4 Фасадные покрытия Oikos

		//- ------------------- services -------------------- //
		#services.container
			.services
				h2.services__title.h1 Услуги
				.row
					.col-xs-12.col-md-6.service
						.row
							.col-xs-12.col-sm-6.service__media
								img(src="img/services.png", alt="")
								a(href="designers.html").btn_bordered работы
							.col-xs-12.col-sm-6.service__txt
								span Услуги дизайнера
								p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus commodi deserunt unde id, minus facere maxime recusandae deleniti alias sapiente quasi iusto quis a atque culpa vitae odit dolor voluptas. Fuga, fugit, eveniet. Optio tempora et enim explicabo. Sapiente distinctio adipisci, amet. Illo deleniti quod labore deserunt fugit, cum corporis vel perferendis recusandae perspiciatis, quos cupiditate sed minima ut ipsa.
					.col-xs-12.col-md-6.service
						.row
							.col-xs-12.col-sm-6.service__media
								img(src="img/services2.png", alt="")
								a(href="masters.html").btn_bordered работы
							.col-xs-12.col-sm-6.service__txt
								span Услуги мастера
								p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nihil ducimus animi ipsa nisi aperiam sit dolore esse id perspiciatis, atque, at obcaecati quasi numquam mollitia sint perferendis, dignissimos facere. Consequatur eos possimus iusto rerum nesciunt reiciendis sequi, pariatur veniam. Aspernatur odit aliquid, rem. Eos explicabo hic cupiditate harum doloremque, magnam neque suscipit natus cumque saepe, iusto, asperiores vel tempora!


			//- ------------------- news--------------------- //
			#news.info
				header.headers
					.headers__inner
						span Актуальное
						h2.h1 Новости <br> и акции

				.news.owl-carousel.owl-theme
					.new
						.new__img
							img(src="img/news.png", alt="")
						.new__txt
							p.h4 Новая высококачественная лепнина ORAC DECOR
							p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error adipisci, corrupti deserunt numquam atque voluptate eius, itaque minus, tempora nihil provident? Eligendi ab reprehenderit optio modi, doloremque magnam tempore animi.Veritatis tempora cupiditate quidem, reprehenderit, culpa voluptatibus distinctio sapiente repudiandae, reiciendis hic, sint. Ab fugiat maiores nulla. Voluptates, nisi. Neque, odio, aliquid. Vel nobis, atque aliquid sunt ad, ab molestias?
							a(href="elements.html").new__link подробнее
					.new
						.new__img
							img(src="img/news.png", alt="")
						.new__txt
							p.h4 Новая высококачественная лепнина ORAC DECOR
							p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error adipisci, corrupti deserunt numquam atque voluptate eius, itaque minus, tempora nihil provident? Eligendi ab reprehenderit optio modi, doloremque magnam tempore animi.Veritatis tempora cupiditate quidem, reprehenderit, culpa voluptatibus distinctio sapiente repudiandae, reiciendis hic, sint. Ab fugiat maiores nulla. Voluptates, nisi. Neque, odio, aliquid. Vel nobis, atque aliquid sunt ad, ab molestias?
							a(href="elements.html").new__link подробнее

				.sale
					.sale__img
						img(src="img/akcii.png", alt="")
					p.sale__txt Скидка 10% при ЕДИНОВРЕМЕННОЙ покупке материалов OIKOS от 500 рублей во всех Декор-центрах! 
			

			//- ------------------- repairs -------------------- //
			#repairs.repairs
				h2.h2 О ремонте
				.row.top-xs
					.col-xs-12.col-md-5.repairs__img
						img(src="img/repairs.png", alt="")
					.col-xs-12.col-md-6.col-md-offset-1.repairs__txt
						.repairs__item
							span ремонт это вдохновение
							ul.repairs__list
								li Как определить стоимость краски?
								li Какую декоративную краску выбрать?
								li Декоративные штукатурки Ойкос
								li Венецианские штукатурки Ойкос
								li Декоративные краски Ойкос-премиум
								li Фасадные краски для ценителей качества Oikos
								li Декоративные элементы (лепнина) в интерьере
								li Паркетные полы Tarwood
							a(href="").btn_shadow.btn_bordered подробнее
						.repairs__item
							span стили в дизайне интерьера
							ul.repairs__list
								li Современные стили
								li Классические стили
								li Этнические стили
								li Другие
							a(href="").btn_shadow.btn_bordered подробнее
			
			//- ------------------- reviews -------------------- //
			#reviews.reviews
				header.headers
					.headers__inner
						span Наши клиенты
						h2.h1 Что о нас <br> говорят клиенты

				.reviews__list.owl-carousel.owl-theme
					.review
						.review__txt
							p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum, facilis odio velit totam cupiditate culpa sequi iusto vero consequatur est pariatur temporibus harum? Id earum fugiat nemo qui laudantium.
							i.icon.icon-coma
						.review__info
							.review__img
								img(src="img/review.png", alt="man")
							.review__author
								p.review__name Сальваор Дали
								span Гений
					.review
						.review__txt
							p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum, facilis odio velit totam cupiditate culpa sequi iusto vero consequatur est pariatur temporibus harum? Id earum fugiat nemo qui laudantium.
							i.icon.icon-coma
						.review__info
							.review__img
								img(src="img/review.png", alt="man")
							.review__author
								p.review__name Сальваор Дали
								span Гений
					.review
						.review__txt
							p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum, facilis odio velit totam cupiditate culpa sequi iusto vero consequatur est pariatur temporibus harum? Id earum fugiat nemo qui laudantium.
							i.icon.icon-coma
						.review__info
							.review__img
								img(src="img/review.png", alt="man")
							.review__author
								p.review__name Сальваор Дали
								span Гений

			//- ------------------- contacts -------------------- //
			#contact.contacts.row.vcard
				.col-xs-12.col-md-5.contacts__left
					span.fn.org(style="visibility: hidden") "OIKOS"
					h3.h2 нас легко найти
					p.p.locality Г.Брест, ул. Советских Пограничников 42 2 этаж
					a(href="mailto:oikos@info.osikos.ru").p.email Email:oikos@info.osikos.ru
				.col-xs-12.col-md-5.col-md-offset-2.contacts__right
					p.p Позвоните нам:
					a(href="tel:+375295239594").h3.tel +375 29 523 95 912.col-sm-6
					p.p Напишите:
					a(href="mailto:decorbrest@tut.by").h3.email decorbrest@tut.by
					p.p Работаем:
					p.h3 Каждый день, кроме сб,вс.

		//- ------------------- map -------------------- //
		.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.6914392403282!2d23.68929281615589!3d52.08534667973427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47210bf365abe23d%3A0x7555007bb1460568!2z0YPQuy4g0KHQvtCy0LXRgtGB0LrQuNGFINC_0L7Qs9GA0LDQvdC40YfQvdC40LrQvtCyIDQyLCDQkdGA0LXRgdGCIDIyNDAzMiwg0JHQtdC70LDRgNGD0YHRjA!5e0!3m2!1sru!2sru!4v1500452511888" style="border:0" allowfullscreen></iframe>