extends layout/main

block title
	|Главная - Oikos

block content	
	//- -------------------------------------- slider ---------------------- //

	.slider-wrap
		.slider.owl-carousel.owl-theme
			.slider__item
				img(src='img/slider.png')
				.slider__txt
					h2.h2.slider__title ultrasaten
					p.p.slider__subtitle Податливый и экологически чистый материал, <br> является идеальным для отделки детских и лечебных заведений
					a.btn(href='') в раздел
			.slider__item
				img(src='img/slider.png')
		.slider__links
			.slider__contacts
				a.p.slider__contacts-link(href="mailto:dekorbrest@tut.by") Email: dekorbrest@tut.by
				a.p.slider__contacts-link(href="tel:+375336734089") Тел: +375 (33) 673-40-89
			.social 
				span.p Посетите нас:  
				a.icon.icon-vk.p.social__link(href="vk.ru")
				a.icon.icon-fb.p.social__link(href="vk.ru")
				a.icon.icon-odk.p.social__link(href="vk.ru")
	
	//- ------------------- our plus -------------------- //		

	.content
		.container
			.plus
				.plus__title.h3 Наши преимущества
				.list
					.list__item
						i.list__icon.icon.icon-roller
						.list__about
							.list__title.h5 Опытность
							.list__txt.p Мы провели более 3000 ремонтов квартир, домов, офисов и т.д
					.list__item
						i.list__icon.icon.icon-clock
						.list__about
							.list__title.h5 Проверка временем
							.list__txt.p Мы работаем с 2002 года
					.list__item
						i.list__icon.icon.icon-ok
						.list__about
							.list__title.h5 Гарантия качества
							.list__txt.p Срок гарантии наших работ более 10 лет
					.list__item
						i.list__icon.icon.icon-people
						.list__about
							.list__title.h5 Индивидуальный подход
							.list__txt.p к каждому клиенту
					.list__item
						i.list__icon.icon.icon-wall
						.list__about
							.list__title.h5 Любые задачи
							.list__txt.p Мы выполняем проекты любой сложности
					.list__item
						i.list__icon.icon.icon-palitra
						.list__about
							.list__title.h5 Огромный выбор
							.list__txt.p Более 5000 цветов и фактур. Или дизайнерский цвет.	


			//- ------------------- why we -------------------- //	

			.slider-plus.owl-carousel.owl-theme
				.slider-plus__item
					.slider-plus__we
						p.h4 почему <br> OIKOS
						p.p  покрытия OIKOS изготовлены на водной основе с применением природного сырья, что является гарантом их экологичности. Краски не горят и не имеют запаха, все поверхности паропроницаемы, т.е. дышат, имеют широкую цветовую гамму — более 2000 цветов по NCS, RAL, DCS и собственной коллекции.
					.slider-plus__img
						img(src='img/slide_min.png')
					.slider-plus__txt
						p.h3 Салон OIKOS - декоративные  штукатурки и краски.
						p.p Продукция OIKOS — это декоративная штукатурка и краски высокого качества, которые применяются для внутренней отделки помещений и наружных фасадов. Отсутствие в составе растворителей делает их экологически чистыми и совсем безвредными для человека и окружающей среды. Декоративные краски и штукатурки характеризуются высокой паропроницаемостью и водоотталкивающим эффектом, устойчивостью к воздействию солнца, ветра и мороза. Они также предотвращают образование 
					a.p.slider-plus__link.btn_bordered.btn_shadow(href='') подробнее
				.slider-plus__item
					.slider-plus__we
						p.h4 почему <br> OIKOS
						p.p  покрытия OIKOS изготовлены на водной основе с применением природного сырья, что является гарантом их экологичности. Краски не горят и не имеют запаха, все поверхности паропроницаемы, т.е. дышат, имеют широкую цветовую гамму — более 2000 цветов по NCS, RAL, DCS и собственной коллекции.
					.slider-plus__img
						img(src='img/slide_min.png')
					.slider-plus__txt
						p.h3 Салон OIKOS - декоративные  штукатурки и краски.
						p.p Продукция OIKOS — это декоративная штукатурка и краски высокого качества, которые применяются для внутренней отделки помещений и наружных фасадов. Отсутствие в составе растворителей делает их экологически чистыми и совсем безвредными для человека и окружающей среды. Декоративные краски и штукатурки характеризуются высокой паропроницаемостью и водоотталкивающим эффектом, устойчивостью к воздействию солнца, ветра и мороза. Они также предотвращают образование 

