extends layout/main

block title
	|Декоративные краски и штукатурки

block content	


	.content.content_space
		.container
			header.headers.headers_space
				.headers__inner
					h1.h3.product-name Декоративные краски и штукатурки <span>oikos<span/> 
			img(src="img/dec-lak.png", alt="", style="display:block; max-width:100%; margin: auto;")

			p.p ременный интерьер невозможно представить без передовых, экологичных и красивых отделочных материалов.Опираясь на свой почти 10-ти летний опыт работы в строительстве и ремонте, сегодня мы готовы помочь Вам создать стильный, оригинальный и долговечный интерьер на основе самых проверенных и надежных решений в отделке поверхностей как жилых, так и общественных зданий и сооружений.

			p.p Реализовать тысячи оригинальных идей и изысканных интерьеров позволит широкая гамма цветов, оттенков и эффектов декоративных покрытий Oikos. Краски из декоративной линии – отличная альтернатива обоям. Различные пропорции, способы и техники нанесения краски дают возможность получить абсолютно индивидуальный рисунок, самые неожиданные результаты работы в любом помещении. Краски и штукатурки из декоративной линии помогают создать стильный интерьер и добиться действительно уникального дизайна для стен.

			p.p Используя декоративные штукатурки и краски в отделке стен можно получить поверхность различной фактуры: гладкую как шелк или роскошную как бархат, с великолепным мерцающим и перламутровым эффектом, имитацию «под старину», мелкий песок или благородный мрамор.

			p Cемь преимуществ штукатурок и красок Oikos

			p.p| 1. Экологически чистый состав.

			p.p|Штукатурки производятся на основе извести или акрила, мраморной крошки и безвредных пигментов. В основе красок лежит экологичный акрил.

			p.p|2. Повышенная износостойкость.

			p.p|Состав и технология нанесения декоративных красок и штукатурок способствует тому, что в течение нескольких десятилетий покрытие сохранит свою целостность и выразительный рисунок.

			p.p|3. Богатейшие возможности.

			p.p|Штукатурка легко скрывает различные дефекты, не оставляя и следа.

			p.p|4. Влагостойкость.

			p.p|Как штукатурка, так и декоративная краска Oikos не боится воды и повышенной влажности. Итальянцы выпускают моющиеся краски, которые не боятся воздействия абразивных элементов и регулярных уборок.

			p.p|5. Возможность реставрации.

			p.p|Одна из приятных особенностей штукатурки кроется в том, что поверхность можно отремонтировать, если на ней появился скол.

			p.p|6. Уникальные декоративные эффекты.

			p.p|Штукатурки с частицами мрамора дают привлекательный эффект свечения, имитируя красоту мраморного покрытия. Декоративные краски имеют свою палитру для колеровки, которая подчёркивает уникальность выбранного материала.

			p.p|7. Универсальность.

			p.p|Материалы используются как для внутренней, так и для внешней отделки помещений и домов

			.product-header Каталог красок и штукатурок <span>oikos<span/> 

			.row.product
				.col-xs-3.product__img
					img(src="img/prod.png", alt="")
				.col-xs-9.product__txt
					p.product__title Antico Ferro
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus quia doloribus sed quisquam voluptates iusto quod deserunt unde reprehenderit officia culpa a molestiae neque veritatis laboriosam assumenda saepe, ad!
			.row.product
				.col-xs-3.product__img
					img(src="img/prod.png", alt="")
				.col-xs-9.product__txt
					p.product__title Antico Ferro
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus quia doloribus sed quisquam voluptates iusto quod deserunt unde reprehenderit officia culpa a molestiae neque veritatis laboriosam assumenda saepe, ad!
			.row.product
				.col-xs-3.product__img
					img(src="img/prod.png", alt="")
				.col-xs-9.product__txt
					p.product__title Antico Ferro
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus quia doloribus sed quisquam voluptates iusto quod deserunt unde reprehenderit officia culpa a molestiae neque veritatis laboriosam assumenda saepe, ad!	
			
			a(href="").product-more показать еще