extends layout/main

block title
	|Декоративные краски и штукатурки

block content	


	.content.content_space
		.container
			header.headers.headers_space
				.headers__inner
					h1.h3.product-name Декоративные краски и штукатурки <span>oikos<span/> 
			.row.product__about
				.col-xs-12.col-sm-4
					.product__list.owl-carousel.owl-theme
						a(href="img/prod.png").product__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").product__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").product__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").product__item
							img(src="img/Ultrasaten.png", alt="")
						a(href="img/Ultrasaten.png").product__item
							img(src="img/Ultrasaten.png", alt="")
				.col-xs-12.col-sm-8

					p Cемь преимуществ штукатурок и красок Oikos
	
					p.p| 1. Экологически чистый состав.

					p.p|Штукатурки производятся на основе извести или акрила, мраморной крошки и безвредных пигментов. В основе красок лежит экологичный акрил.

					p.p|2. Повышенная износостойкость.

					p.p|Состав и технология нанесения декоративных красок и штукатурок способствует тому, что в течение нескольких десятилетий покрытие сохранит свою целостность и выразительный рисунок.

					p.p|3. Богатейшие возможности.

					p.p|Штукатурка легко скрывает различные дефекты, не оставляя и следа.

					p.p|4. Влагостойкость.

					p.p|Как штукатурка, так и декоративная краска Oikos не боится воды и повышенной влажности. Итальянцы выпускают моющиеся краски, которые не боятся воздействия абразивных элементов и регулярных уборок.

					p.p|5. Возможность реставрации.

					p.p|Одна из приятных особенностей штукатурки кроется в том, что поверхность можно отремонтировать, если на ней появился скол.

					p.p|6. Уникальные декоративные эффекты.

					p.p|Штукатурки с частицами мрамора дают привлекательный эффект свечения, имитируя красоту мраморного покрытия. Декоративные краски имеют свою палитру для колеровки, которая подчёркивает уникальность выбранного материала.

					p.p|7. Универсальность.

					p.p|Материалы используются как для внутренней, так и для внешней отделки помещений и домов

			.product-header Каталог красок и штукатурок <span>oikos<span/> 

			.row.product
				.col-xs-12.col-sm-3.product__img
					img(src="img/prod.png", alt="")
				.col-xs-12.col-sm-9.product__txt
					p.product__title Antico Ferro
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus quia doloribus sed quisquam voluptates iusto quod deserunt unde reprehenderit officia culpa a molestiae neque veritatis laboriosam assumenda saepe, ad!
			.row.product
				.col-xs-12.col-sm-3.product__img
					img(src="img/prod.png", alt="")
				.col-xs-12.col-sm-9.product__txt
					p.product__title Antico Ferro
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus quia doloribus sed quisquam voluptates iusto quod deserunt unde reprehenderit officia culpa a molestiae neque veritatis laboriosam assumenda saepe, ad!
			.row.product
				.col-xs-12.col-sm-3.product__img
					img(src="img/prod.png", alt="")
				.col-xs-12.col-sm-9.product__txt
					p.product__title Antico Ferro
					p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem accusamus quia doloribus sed quisquam voluptates iusto quod deserunt unde reprehenderit officia culpa a molestiae neque veritatis laboriosam assumenda saepe, ad!	
			
			a(href="").product-more показать еще