extends layout/main

block title
	|Декоративные элементы

block content	


	.content.content_space
		.container
			header.headers.headers_space
				.headers__inner
					h1.h3.product-name Стили в дизайне <span>интерьера<span/> 
			.p 
				|Дайте волю своему воображению. Любые классические интерьеры могут быть созданы благодаря нашим декоративным |элементам. Стильный и минималистический в классическом дизайне или современный с добавлением в него 3D модели? <br><br>
				|Элементы этих орнаментов предоставляют значительные возможности в персонализации любого помещения.

			h2.h5.title_line
				span Современные стили

			.elements
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы

			h2.h5.title_line
				span Классические стили

			.elements
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы
				.element
					a(href="category_more.html").element__img
						img(src="img/elem.png", alt="")
					p.p Карнизы