extends layout/main

block title
	|О ремонте

block content	


	.content.content_space
		.container
			header.headers.headers_space
				.headers__inner
					h1.h3.product-name Ремонт - это <span>вдохновение<span/>

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 

			p.p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aliquam tempora sed, velit. Eius inventore minima tenetur, tempora eveniet quis laudantium esse saepe facilis odio reprehenderit quod provident magnam illo! 