/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:



// HTML
<i class="icon icon-home"></i>
*/

.icon {
  display: inline-block;
}
 
.icon-clock {
  background-image: url(../img/sprite.png);
  background-position: -78px 0px;
  width: 46px;
  height: 44px;
}
.icon-ok {
  background-image: url(../img/sprite.png);
  background-position: -78px -64px;
  width: 44px;
  height: 44px;
}
.icon-palitra {
  background-image: url(../img/sprite.png);
  background-position: -144px -51px;
  width: 32px;
  height: 38px;
}
.icon-people {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 58px;
  height: 43px;
}
.icon-roller {
  background-image: url(../img/sprite.png);
  background-position: 0px -63px;
  width: 47px;
  height: 50px;
}
.icon-wall {
  background-image: url(../img/sprite.png);
  background-position: -144px 0px;
  width: 40px;
  height: 31px;
}
